pkgbase = yts-cli
	pkgdesc = CLI YouTube Web Scraper in GO (no API needed)
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/IxBlazarxI/yts-cli
	arch = x86_64
	license = MIT
	makedepends = go
	depends = bash
	depends = curl
	depends = grep
	depends = awk
	source = https://github.com/IxBlazarxI/yts-cli/archive/refs/tags/v1.1.0.tar.gz
	sha256sums = daea67461ed6487577c64d1ca36abbb987a26606ef03d3d7c61da1da1e7a5b16

pkgname = yts-cli
